@media screen and (max-width:800px){
    .nav-options{
       flex-direction: row;
    }
 }
 @media screen and (max-width:576px){
    .fit-ness {
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   .span{
    font-size:25px;
    font-weight:400;
   }
  .nav-hamburger-menu{
    color: white;
    display: block;
    font-size: 25px;
 }
 .nav-options{
  display: none;
 }
 
 .head-sec{
    width: 430px;
  position: relative;
  height: auto;
  background: linear-gradient(180.00deg,rgba(119, 119, 119, 0.521),  rgba(17, 17, 17, 0.26) 100%);
 }
 /* banner section */
    .fit-sec{
        display: block;
        flex-direction: column;
    }
    #image{
        width: 300px;
        margin-left: 60px;
    }
    #text-fit{
        font-size: 30px;
        font-weight: 500px;
        margin-left: 60px;
    }
    #text-description{
        width: 250px;
        margin-left: 60px;
    }
    #box-div-a{
        margin-left:65px;
    }
    #box-div{
        margin-left:210px;
    }
    /* imgbox section */
    .img-box{
        margin-top: 260px;
        margin-right:50px ;
    }
    .text-title-img{
        font-size: 30px;
        font-weight: 400px;
        width: 250px;  
        margin-left: 100px;
    }
    .text-description-img{
        width: 150px;
        margin-left: 40px;
        margin-left: 150px;
    }
    #fit{
        flex-direction: column;
        margin-right: 250px;
    }
    .img-fit{
        margin-right: 250px;
    }
  }