    /* inter font section */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

     .inter-font {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
      }
      







/*  shared section */
     body {
       background-color: black;
     }



  /* header section */
     .head-sec {
          /* border: 2px solid red; */
          width: 1140px;
          height: 714px;
          margin: 0 auto;
         
     
     }

  /* nav-section */
  .span {
      color:rgba(230, 83, 60, 1)

  }
  .fit-ness {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

   /* .container {
        margin-top: 49px;
      } */
 
   .nav-text {
      font-size: 35px;
      font-weight: 800;
   }


  /* nav options */
      .nav-options {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          gap: 49px;
          border: 1px solid ;
          box-sizing: border-box;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 37px;
          width: 470px;
          height: 46px;
          font-size: 17px;
          font-weight: 400;
          line-height: 115%;
          text-align: left;
      }

      .span-bg {
         background-color: rgba(230, 83, 60, 1) ;
         /* color: white; */
         width: 90px;
         height: 37px;
         border-radius: 37px;
         padding: 2px  5px;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         
      }
      nav p {
         color: white;
      }

      /* text section */
      .fit-sec {
        color: rgb(255, 255, 255);
      }

      .text-fit {
            color: rgb(255, 255, 255);
            font-size: 75px;
            font-weight: 700;
            text-align: left;
      }

      .text-description{
             margin-top: 25px;
             font-size: 15px;

      }
      /* button section */
      .btn-primary {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;

      }
      
      .btn-non-color {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 36px;
        border: 1px solid rgb(255, 255, 255);
      }
      
      .btn-prime {
        width: 140px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;
        margin-left:130px;

      }

      .btn {
         display: flex;
         justify-content:center;
         align-items: center;
         margin-top: 30px;
         margin-right:70px ;
         gap: 20px;
      }

      /* box seaction */
      .box-div {
           box-sizing: border-box;
           border: 1px solid rgba(255, 255, 255, 0.1);
           border-radius: 12px;
           backdrop-filter: blur(20px);
           background: rgba(48, 48, 48, 0.54);
           width: 150px;
           height: 96px; 
           color: white;
           
      }
     

      .bold {
        font-weight: 800;
      }


      /* image and text section header */
      .fit-sec {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 130px;
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

      }

      .image {
        width: 450px;
      }

      /* main section */
 
      .text-img {
        color: aliceblue;
        text-align: center;
        width: 980px;
        margin: 0 auto;
        margin-top: 30px;

      }

      .text-title-img {
         font-weight:600 ;
      }

      .text-description-img {
        font-size: 13px;
      }
      .img-box {
        /* border: 1px solid red; */
        width: 980px ;
        height: 452px;
        margin: 0 auto;
        margin-top: 60px;
      }
      .fit-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
      
       
      }

      .img-fit {
        color: azure;
      }
     section  #fit img {
        border-radius: 50%  50%  50%  50%;
     }
       

      section div p h3 {
         justify-content: center;
         align-items: center;
      }

      section div h3 {
        font-size: 18px;
        font-weight: 400;
      }
      section div p {
        font-size: 10px;
        font-weight: 100;
      }
      /* run section */
      .run-text {
        color: white;
      }

       .run{         
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 980px;
          height: 350px;
          margin: 0 auto;
          text-align: center;
          border-radius: 37px;
          background: rgba(48, 48, 48, 0.54);
       }

       #run-image {
            width: 366px;
            height: 315px;
            border-radius: 37px;
            margin-right: 20px;
           
         }
         .run-bold {
          width: 443px;
          height: 116px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          margin-bottom: 8px;
          color: rgb(255, 255, 255);
          font-size: 48px;
          font-weight: 700;
          line-height: 120%;
         }

         .run-descrition {
             width: 443px;
             height: 72px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center ;
             padding: 0px;
         }

         /* challenging section*/
         .bmi-text {
              color: white;
              border: 1px solid red;
         }

         .bmi-table {
               color: white;
               
         }
         .tab {
             width: 19.38rem;
             height: 13.5rem;
             left: 11.81rem;
             right: 58.81rem;
             top: 8.63rem;
             bottom: 8.31rem;
            
         }

