    /* inter font section */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

     .inter-font {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
      }
      

/*  shared section */
     body {
       background-color: black;
     }

  /* header section */
     .head-sec {
          /* border: 2px solid red; */
          width: 1140px;
          height: 714px;
          margin: 0 auto;  
          background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);  
     }

  /* nav-section */
  .span {
      color:rgba(230, 83, 60, 1)
  }

  .fit-ness {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .nav-hamburger-menu{
     color: white;
     display: none;
  }

   .nav-text {
      font-size: 35px;
      font-weight: 800;
   }


  /* nav options */
     .nav-options{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 30px;
      height: 30px;
      border-radius: 37px;
      width: 380px;
     }
      .span-bg {
         background-color: rgba(230, 83, 60, 1) ;
         /* color: white; */
         width: 90px;
         height: 37px;
         border-radius: 37px;
         padding-top:15px;
         padding-right: 5px;
         text-align: center;
      }
      nav p {
         color: white;
      }

      /* text section */
      #text-fit {
            color: rgb(255, 255, 255);
            font-size: 65px;
            font-weight: 700;
            text-align: left;
      }

      #text-description{
             margin-top: 25px;
             font-size: 15px;

      }
      /* button section */
      .btn-primary {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;

      }
      
      .btn-non-color {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 36px;
        border: 1px solid rgb(255, 255, 255);
      }
      
      .btn-prime {
        width: 140px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;
        margin-left:130px;

      }

      .btn {
         display: flex;
         justify-content:center;
         align-items: center;
         margin-top: 30px;
         margin-right:70px ;
         gap: 20px;
      }

      /* box seaction */
      #box-div {
           box-sizing: border-box;
           border-radius: 12px;
           backdrop-filter: blur(20px);
           background: rgb(48, 48, 48);
           width: 135px;
           height: 86px; 
           margin-top: -330px;
           margin-left: 880px;
           color: white;
           
      }

      #box-div-a{
        width: 135px;
        height: 86px; 
        color: white; 
        border-radius: 12px;
        margin-top: -180px;
        margin-left: 590px;
        backdrop-filter: blur(1.25rem);
        background: rgba(48, 48, 48, 0.54);
      }
       /*icon red */
       .video-icon{
          background-color: rgba(230, 83, 60, 1);
          width: 30px;
          height: 30px;
          border-radius: 50% 50% 50% 50%;
       }
       #play{
        padding-left: 10px;
        padding-top: 7px;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.836);
       }

       .div{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
       }

      /* image and text section header */
      .fit-sec {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 130px;
        color: rgb(255, 255, 255);
      }

      .image {
        width: 450px;
      }

      /* main section */
      /* change habit section */
      .text-img {
        color: aliceblue;
        text-align: center;
        width: 980px;
        margin: 0 auto;
        margin-left: 6px;

      }
      #fit{
         margin-top: 20px;
      }

      .text-title-img {
         font-weight:600 ;
      }

      .text-description-img {
        font-size: 13px;
      }
      .img-box {
        /* border: 1px solid red; */
        width: 980px ;
        height: 452px;
        margin: 0 auto;
        margin-top: 60px;
      }
      .fit-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
      }

      .img-fit {
        color:white;
      }
      .connect {
        margin-top: 140px;
        margin-left: 25px;
        text-align: center;
      }
 
     section  #fit img {
        border-radius: 50%  50%  50%  50%;
     }
       

      section div p h3 {
         justify-content: center;
         align-items: center;
      }

      section div h3 {
        font-size: 18px;
        font-weight: 400;
      }
      section div p {
        font-size: 10px;
        font-weight: 100;
      }
      /* run section */
      .run-text {
        color: white;
      }

       .run{         
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 980px;
          height: 350px;
          margin: 0 auto;
          text-align: center;
          border-radius: 37px;
          background: rgba(48, 48, 48, 0.54);
       }

       #run-image {
            width: 366px;
            height: 315px;
            border-radius: 37px;
            margin-right: 20px;
           
         }
         .run-bold {
          width: 443px;
          height: 116px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          margin-bottom: 8px;
          color: rgb(255, 255, 255);
          font-size: 48px;
          font-weight: 700;
          line-height: 120%;
         }

         .run-descrition {
             width: 443px;
             height: 72px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center ;
             padding: 0px;
         }

         /* challenging section*/
         .bmi-text {
              color: white;
              width: 440px;
              height: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align:center;
              margin: 0 auto;
              margin-top: 40px;
              margin-bottom: 40px;
           }
           .bmi-tb-form{
              height: 360px;
              margin-top: 40px;
              margin-bottom: 40px;

           }
            
           .bmi-main{
              display: flex;
              justify-content: space-evenly;
           }

           .bmi-form{
            color: white;
            margin-top: 20px;
           }

           .bmi-description{
              margin-top: 2px;
           }

         .bmi-table {
               color: white;
               
         }
         table, th, td{
              width: 320px;
              margin: auto;
              padding: 25px 25px 2px 2px;
              text-align: center;
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-collapse: collapse;
         }
         .form1{
          margin-bottom: 30px;
         }

         .form2{
          position: static;
          width: 360px;
          height: 70px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 6px;
          margin-top: 10px;
         }
         .bmi-tb-form{
          background-color: rgb(34, 34, 34);
          height: 430px;
         }
         .form-btn{
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          color: white;
          border-radius: 10px;
         }

         #btn-form{
          width: 360px;
          height: 40px;
          margin-top: 6px;
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          color: white;
          border-radius: 10px;
         }

         .btn-prime-div{
            margin-top: 20px;
         }
         /* team section */
         .team-text-sec{
          color: white;
          width: 50%;
          text-align:center;
          margin: 0 auto;
         }
         .team-description{
          font-size: 15px;
         }
         .team-title{
          
          font-weight: bold;
         }
         .team-image{
          width: 980px;
          height: 610px;
          margin: 0 auto;
          margin-top: 30px;
          display: grid;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 17px;
         }
         .image-t { 
           width:980px;
           height: 290px;
           display: grid;
           grid-template-columns: repeat(3,1fr);
           margin-top: 10px;
           margin-bottom:12px ;
           
         }
         .image-t-t { 
        
          width:980px;
          height: 290px;
          display: grid;
          grid-template-columns: repeat(3,1fr);
          margin-bottom: 12px; 
        }
         #row1 ,#row2, #row3 {
          width: 90%;
          height: 92%;
          border-radius: 17px;
          margin-bottom: 20px; 
          margin-top: 25px;
          padding-bottom: 10px;
         }

         #row4 ,#row5, #row6 {
          width: 90%;
          height: 94%;
          border-radius: 17px;
          margin-bottom: 12px; 
          margin-top: 25px;
          padding-bottom: 10px;
         }

          .content, h3, p{
           color: white;
           margin-top: -93px;
           margin-left: 10px;  
         }
        
         .image-t, p{
          margin-top: -18px;
          margin-left: 15px;
         }
         .image-t-t, p{
          margin-top: -18px;
          margin-left: 15px;
         }
        
       /* footer section  */
       .footer{
           display: flex;
           justify-content: space-around;
           align-items: center;
           height: 200px;
       }
       #footer{
        margin: 0 auto;
       }
       footer{
        height:250px;
        margin-top: 30px;
        background-color: rgba(255, 255, 255, 0.1);
       }
       .footer-options{
        margin-top: 130px;
        font-size: 12px;
        margin-right: 120px;
       }
      
       .footer-options, li{
           color:rgba(255, 255, 255, 0.717);
           margin-bottom: 10px;
       }
       div ul li{
        margin-left:-26px;
        list-style: none;
       }
       footer hr{
        color: rgba(255, 255, 255, 0.1);
       }
       .footer-div, h1{
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 20px;
       }
       .footer-div, p{
        margin-left: 2px;
       } 
       #next-hr{
         margin: 0 auto;
         margin-left: 500px;
         font-size: 12px;
         margin-top: 15px;
       }
       hr{
        color:rgba(255, 255, 255, 0);
        width: 700px;
       }
      