    /* inter font section */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

     .inter-font {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
      }
      /* maima font */
    .miama{
      font-family: miama;
      font-style: italic;
      line-height: 0;
      font-weight: 300;
    }
/*  shared section */
     body {
       background-color: black;
     }
  /* header section */
     .head-sec {
          width: 1140px;
          height: 720px;
          margin: 0 auto;  
          background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0),rgb(17, 17, 17) 100%);  
     }

  /* nav-section */
  .span {
      color:rgba(230, 83, 60, 1)
  }

  .fit-ness {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .nav-hamburger-menu{
     color: white;
     display: none;
  }

   .nav-text {
      font-size: 35px;
      font-weight: 800;
   }


  /* nav options */
     .nav-options{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 37px;
      width: 380px;
      height: 55px;
     }
      .span-bg {
         background-color: rgba(230, 83, 60, 1) ;
         /* color: white; */
         width: 100px;
         height: 37px;
         border-radius: 37px;
         padding-top:15px;
         padding-right: 5px;
         text-align: center;
      }
      nav p {
         color: white;
      }

      /* text section */
      #text-fit {
            color: rgb(255, 255, 255);
            font-size: 65px;
            font-weight: 700;
            text-align: left;
      }

      #text-description{
             margin-top: 25px;
             font-size: 15px;

      }
      /* button section */
      .btn-primary {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;

      }
      
      .btn-non-color {
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 36px;
        border: 1px solid rgb(255, 255, 255);
      }
      
      .btn-prime {
        width: 140px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(230, 83, 60, 1);
        border: none;
        color: white;
        border-radius: 36px;
        margin-left:130px;

      }

      .btn {
         display: flex;
         justify-content:center;
         align-items: center;
         margin-top: 30px;
         margin-right:70px ;
         gap: 20px;
      }

      /* box seaction */
      #box-div {
           box-sizing: border-box;
           border-radius: 12px;
           backdrop-filter: blur(20px);
           background: rgb(48, 48, 48);
           width:135px;
           height: 86px;
           margin-top: -330px;
           margin-left: 880px; 
      }
      #five{
        color: #ffffff; 
        font-weight: 400;
      }
      #box-div-a{
        width: 135px;
        height: 86px; 
        color: white; 
        border-radius: 12px;
        margin-top: -180px;
        margin-left: 590px;
        backdrop-filter: blur(1.25rem);
        background: rgba(48, 48, 48, 0.54);
      }
       /*icon red */
       .video-icon{
          background-color: rgba(230, 83, 60, 1);
          width: 30px;
          height: 30px;
          border-radius: 50% 50% 50% 50%;
       }
       #play{
        padding-left: 10px;
        padding-top: 7px;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.836);
       }

       .div{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
       }

      /* image and text section header */
      .fit-sec {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 130px;
        color: rgb(255, 255, 255);
      }

      .image {
        position: relative;
        width: 450px;
      }

      /* main section */
      /* change habit section */
      .text-img {
        text-align: center;
        margin: 0 auto;
      }
      #fit{
         margin-top: 20px;
      }

      .text-title-img {
         font-weight:600 ;
         color: #ffffff;
      }

      .text-description-img {
        font-size: 13px;
      }
      .img-box {
        margin: 0 auto;
        width: 980px;
        margin-bottom: 30px;
        overflow: hidden;
      }
      .fit-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .img-fit {
        color:white;
      }
      .connect {
        text-align: center;
      }
     section  #fit img {
        border-radius: 50%  50%  50%  50%;
     }
      section div p h3 {
         justify-content: center;
         align-items: center;
      }
      section div h3 {
        font-size: 18px;
        font-weight: 400;
      }
      section div p {
        font-size: 10px;
        font-weight: 100;
      }
      /* run section */
      .run-text {
        color: white;
      }

       .run{         
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 980px;
          height: 350px;
          margin: 0 auto;
          text-align: center;
          border-radius: 37px;
          background: rgba(48, 48, 48, 0.54);
       }

       #run-image {
            width: 366px;
            height: 315px;
            border-radius: 37px;
            margin-right: 20px;
           
         }
         .run-bold {
          width: 443px;
          height: 116px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          margin-bottom: 8px;
          color: rgb(255, 255, 255);
          font-size: 48px;
          font-weight: 700;
          line-height: 120%;
         }

         .run-descrition {
             width: 443px;
             height: 72px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center ;
             padding: 0px;
         }

         /* challenging section*/
         .bmi-text {
              color: white;
              width: 440px;
              height: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align:center;
              margin: 0 auto;
              margin-top: 40px;
              margin-bottom: 40px;
           }
           .bmi-tb-form{
              background-color: rgb(34, 34, 34);
              padding: 20px;
           }
            
           .bmi-main{
              display: flex;
              justify-content: space-evenly;
           }

           .bmi-form{
            color: white;
            margin-top: 20px;
           }

           .bmi-description{
              margin-top: 2px;
           }
         .bmi-table {
               color: white;      
         }
         select option{
            background: rgba(0, 0, 0, 0.5);
         }
         table{
          width: 100%;
         }
         table, th, td{
              margin: auto;
              padding: 20px;
              text-align: center;
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-collapse: collapse;
         }

         .form-decription{
           margin-top: 8px;
           width: 350px;
         }

         .form2{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 6px;
          margin-top: 2rem;
          width: 100%;
         }
         .form-btn{
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          color: white;
          padding: 15px;
          gap: 5px;
          border-radius: 10px;
         }
       
         #btn-form{
          width: 100%;
          padding: 15px;
          margin-top: 10px;
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          color: white;
          border-radius: 10px;
         }

         .btn-prime-div{
            margin-top: 20px;
         }
         /* team section */
         .team-text-sec{
          color: white;
          width: 50%;
          text-align:center;
          margin: 0 auto;
         }
         .team-description{
          font-size: 15px;
         }
         .team-title{
          color: var(--white);
          font-weight: bold;
         }
         .team-image{
          width: 75%;
          height: auto;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 20px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 17px; 
          padding: 8px;
         }
         .team-image img{
          width: 100%;
          height: 100%;
          border-radius: 25px;
         }
        
         .row-1{
              position: absolute;
              bottom: 8px;
              left: 15px;
              line-height: 0;
            }
         .row-2{
              position: absolute;
              bottom: 8px;
              left:15px;
              line-height: 0;
            }
         .row-3{
              position: absolute;
              bottom: 8px;
              left:15px;
              line-height: 0;
            }
         .row-4{
              position: absolute;
              bottom: 8px;
              left:15px;
              line-height: 0;
            }
         .row-5{
              position: absolute;
              bottom: 8px;
              left:15px;
              line-height: 0;
            }
         .row-6{
              position: absolute;
              bottom: 8px;
              left:15px;
              line-height: 0;
            }
         /* .row-1{
          background-image: url("../images/trainer2.png" );
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
         } */
          
         .image-t { 
           position: relative;
           color: white;
           }
        /* .image-text-content-1{
          position: absolute;
          bottom: 3%;
          color: #ffffff;
        } */
        /* .row-6{
          bottom: 55%;
        }
        #name{
          margin-top: -10px;
          font-weight: 300;
        } */
       /* footer section  */
       .footer{
           display: flex;
           justify-content: space-around;
           align-items: center;
           overflow: hidden;
       }
       #next-hr{
          color: #ffffff;
          text-align: center;
          margin-top: 2rem;
       }
       footer{
        height:100%;
        margin-top: 30px;
        padding-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.1);
       }
       .footer-options, li{
           color:rgba(255, 255, 255, 0.717);
           margin-bottom: 10px;
           font-size: 13px;
       }
       .second-title{
        font-size: 20px;
       }
       div ul li{
        margin-left:-26px;
        list-style: none;
       }
       .footer-div, h1{
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 20px;
        color: #e6533c;
       }
       .footer-div, p{
        margin-left: 2px;
        color: #ffffff;
       }
       hr{
        width: 700px;
       }
       .footer-description{
        width: 300px;
       }
       /* unique section */
       :root{
        --primary-color:#e6533c;
        --primary-color-dark:hsla(0, 2%, 37%, 0.836);
        --text-dark:#333333;
        --text-dark2:#696565f4;
        --white:#ffffff;
        --black:#303030;
       }
       .unique{
        margin: 0 auto;
        padding: 5px;
        border-radius: 20px;
        margin-top: 40px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.096);
         max-width:980px;
       }
       .uniques{
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
       }
       .unique-left h1{
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--primary-color);
       }
       .unique-left p{
        color:rgba(255, 255, 255, 0.717);
        margin-bottom: 1rem;
        font-size: 13px;
        width: 300px;
       }
       .unique-left button{
        padding: 1rem 2rem;
        margin-top: 1rem;
        outline: none;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to right, var(--primary-color), var(--primary-color));
        color: var(--white);
        font-size: 1rem;
        cursor: pointer;
       }
       .unique-right{
        display: grid;
        gap: 1rem;
       }
       .card{
        padding: 2rem;
        display: flex;
        align-items: flex-start;
        /* gap: 2rem; */
        backdrop-filter: blur(1.25rem);
        background: white;
        box-shadow: 5px 5px 20px rgb(0, 0, 0, .2);
        cursor: pointer;
        border-radius: 20px;
       }
       .card img{
         max-width: 75px;
         border-radius: 50% 50% 50% 50%;
       }
       .card-content{
        display: flex;
        gap: 1rem;
       }
       .card-content span i{
        font-size: 2rem;
        color: var(--primary-color);
       }
       .card-details p{
         font-style:italic;
         margin-bottom: 1rem;
         font-size: 10px;
         font-weight: 600; 
         font-style: italic;
         color:var(--text-dark);
       }
      
       .card-details h4{
        text-align: right;
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 500;
       } 